<h1>Sweatpants</h1>
<p>this is where the items should be</p>


<ol>
    <% @items.each do |item| %>
        
        <li><td><%= item.title %></td></li>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <%= link_to 'add to cart', "/cart/#{item.id}", method: :post  %>
    <% end %>

</ol>

